@model ClearCode.Web.Features.VoteCounting.Models.TallyResults

@{
    ViewBag.Title = "Tally Results";
}

@foreach(var tally in Model.Tallies)
{
    <h1>Round @tally.Round</h1>
    <table class="table" style="width: auto">

        @foreach (var candidate in tally.CandidateResults)
        {
            <tr>
                <td>@candidate.Candidate.Name</td>
                <td>@candidate.Votes</td>
            </tr>
        }
    </table>
}